.listItem {
    text-align: left;
    padding: 16px 16px 16px 24px;
    border-bottom: 1px solid #E3E8EE;
    font-size: 14px;
}

.listItem:last-of-type {
    text-align: right;
}

.listItemBold {
    font-weight: 500;
}

.listItemDeleteBtn {
    background-color: transparent;
    color: #F44336;
    border: 1px solid #F44336;
    border-radius: 4px;
}

.listItemDeleteBtn.disabled {
    border: 1px solid rgb(105, 117, 134);
    background-color: #FFF;
    color: rgb(105, 117, 134);
}